<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='sidebar.css')}}">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div id="side_links">
            <a href="{{url_for('homepage')}}">Home</a>
            <a href="{{url_for('treinos')}}">Treinos</a>
            <a href="">Frequência</a>               
            </div>

            <div id="f">
                <a href="{{url_for('sobre')}}">Observaçõs/</a>
            </div>
            <a href="{{url_for('inicio')}}">Sair</a>
        </div>
            
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='addNewDiv.js') }}"></script>
</body>
</html>