{% extends "login-base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="direito">
    <h1>Crie sua conta.</h1>
    <form action="/login" method="POST">
        <input type="text" placeholder="Usuário" required name="user">
        <input type="email" placeholder="Email" required name="email">
        <input type="password" placeholder="Senha" autocomplete="new-password" required name="senha">
        <button type="submit">Criar conta</button>
    </form>
    <a href="{{ url_for('login') }}">Já possui conta?</a>
</div>
{% endblock %}