<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body spellcheck="false">
    <div id="main">
        <div id="esquerdo">
            <h1>Seu progresso<br>começa aqui.</h1>
            <p class="fim">Workout Map - 2026</p>
        </div>

        <div id="content" spellcheck="false">
            {% block content %}{% endblock %}
        </div>
</body>
</html>