{% extends "base.html" %}

{% block title%}Sobre{% endblock %}

{%block content%}
    <div>
        <h1 style="color: aliceblue;">
            desenvolvido por joão gabriel melo<br>
            github.com/joaomelocomp
        </h1>
        <p style="color: aliceblue;">06/05/26 - Criar os botões para adição das fichas de treino</p>
        <p style="color: aliceblue;">06/05/26 (a noite) - tava animado fiz quase tudo</p>
        <p style="color: aliceblue;">06/05/26 (a noite) - ta complicado de mexer nessa sidebar</p>
        <p style="color: aliceblue;">07/05/26 - ean</p>
        <p style="color: aliceblue;">07/05/26 - css ta ficando muito extenso e muito confuso</p>
        <p style="color: aliceblue;">08/05/26 - bom pra backend esse dia</p>
    </div>
{%endblock%}